
@using System.Web.Mvc
@{
    var addUrl = ViewBag.AddUrl as string;
}


<div class="add-data">
    <div class="admin-actions" style="text-align: center; margin: 20px 0;">
        <!-- Ekleme Butonu -->
        @if (addUrl != null)
        {
            <button class="btn" onclick="location.href='@addUrl'">
                <i class="fas fa-plus-circle"></i> Add New
            </button>
        }
    </div>
</div>